#explore-wrapper {
    height: calc(100vh - 138px);
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;

    .explore-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &.sub {
            height: 100vh;
            padding: 48px 96px;
        }

        .patents-list-wrapper {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .list-col {
                width: calc(100% / 3.5);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                &.col-3 {
                    .orange {
                        width: 100%;
                        height: calc(100% / 3.2);
                        background-color: orange;
                        border-radius: 24px;
                    }

                    .item {
                        width: 100%;
                        height: calc(100% / 3.2);
                    }
                }
            }
        }

        .label {
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2.5em;
            text-align: center;
            font-weight: bold;
        }

        .product-list-wrapper {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .topbar {
            width: 70%;
            height: 8%;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%, 0%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50px;
            background-color: #e2dbc6;
            padding: 5px;
            z-index: 1;

            .topbar-item {
                width: calc(100% / 5);
                height: 100%;
                color: #bca77b;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                font-family: "Mulish-Bold";
                font-size: 0.7em;
                cursor: pointer;

                &.true {
                    color: black;
                    background-color: #f7f7f7;
                    border-radius: 50px;

                    &:hover {
                        background-color: #f7f7f7;
                    }
                }

                &:hover {
                    background-color: rgb(247, 247, 247, 0.5);
                    border-radius: 50px;
                }
            }
        }

        .label-wrapper {
            width: 70%;
            height: 15%;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            color: black;
            font-size: 2em;
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }

        .tap {
            width: fit-content;
            opacity: 0;
            // height: 20%;
            position: absolute;
            bottom: 5%;
            z-index: 2;
            transform: translate(-50%, -50%);
            transform: scale(1.5);

            &.tap-1 {
                left: 25%;
            }

            &.tap-2 {
                left: 33%;
            }

            &.tap-3 {
                left: 50%;
            }

            &.tap-4 {
                left: 70%;
            }
        }

        .water-bg {
            width: 100%;
            height: 100%;
            opacity: 1;
            position: absolute;
            bottom: -30%;
            left: 0%;
            // object-fit: cover;
        }

        .bullet-wrapper {
            width: 30%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top: 55%;
            transform: translate(-50%, -50%);
            color: black;
            opacity: 0;

            &.left {
                left: 20%;
            }
            &.right {
                left: 80%;
            }

            .bullet-item {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                

                .bullet-desc-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    .bullet-title {
                        font-size: 1em;
                        font-family: "Mulish-Bold";
                    }
                    .bullet-desc {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
@media (min-height: 900px) {
    #explore-wrapper {
        height: calc(100vh - 164px);
    }

    #explore-wrapper .explore-container .tap {
        bottom: -15%;
        transform: scale(1.2);

        &.tap-3 {
            left: 47%;
        }
    }

    #explore-wrapper .explore-container .topbar .topbar-item {
        font-size: 0.9em;
    }
}

@media (min-height: 1024px) {
    #explore-wrapper .explore-container .tap {
        bottom: 12%;
        transform: scale(2);

        &.tap-3 {
            left: 50%;
        }
    }
}

.hydration_slider {
    position: relative;
}


.explore-slider {
    .swiper {
        height: 500px;
        width: 500px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        opacity: 0.3;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    .swiper-pagination {
        bottom: -10% !important;

        .swiper-pagination-bullet {
            background-color: #4d2616;
        }
    }

    .swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3n) {
        background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n) {
        background-color: rgb(211, 122, 7);
    }
}
