#explore-wrapper {
    height: 85vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;

    .explore-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &.sub {
            height: 100vh;
            padding: 48px 96px;
        }

        .patents-list-wrapper {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .list-col {
                width: calc(100% / 3.5);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                &.col-3 {
                    .orange {
                        width: 100%;
                        height: calc(100% / 3.2);
                        background-color: orange;
                        border-radius: 24px;
                    }

                    .item {
                        width: 100%;
                        height: calc(100% / 3.2);
                    }
                }
            }
        }

        .label {
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2.5em;
            text-align: center;
            font-weight: bold;
        }

        .product-list-wrapper {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;

           
        }

        .topbar {
            width: 70%;
            height: 8%;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%, 0%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50px;
            background-color: #e2dbc6;
            padding: 5px;
            z-index: 1;

            .topbar-item {
                width: calc(100% / 5);
                height: 100%;
                color: #bca77b;
                display: flex;
                justify-content: center;
                align-items: center;

                &.selected {
                    color: black;
                    background-color: #f7f7f7;
                    border-radius: 50px;
                }
            }
        }

        .label-wrapper {
            width: 70%;
            height: 15%;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, 0%);
            color: black;
            font-size: 2.5em;
            text-align: center;
            font-weight: bold;
            opacity: 0;

            // &.label-1 {
            //     opacity: 0;
            // }

            // &.label-2 {
            //     opacity: 0;
            // }
        }

        .tap {
            width: fit-content;
            height: fit-content;
            opacity: 0;
            position: absolute;
            z-index: 2;
            transform: translate(-50%, -50%);

            &.tap-1 {
                bottom: 5%;
                left: 30%;
            }

            &.tap-2 {
                bottom: 5%;
                left: 40%;
            }

            &.tap-3 {
                bottom: 0%;
                left: 58%;
            }

            &.tap-4 {
                bottom: 5%;
                left: 75%;
            }
        }

        .water-bg {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            bottom: 0%;
            left: 0%;
            // object-fit: cover;
        }

        .bullet-wrapper {
            width: 30%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top: 60%;
            transform: translate(-50%, -50%);
            color: black;
            opacity: 0;

            &.left {
                left: 30%;
            }
            &.right {
                left: 85%;
            }

            .bullet-item {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5%;

                .bullet-desc-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    .bullet-title {
                        font-size: 1.4em;
                        font-weight: bold;
                    }
                    .bullet-desc {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}
