#test-wrapper {
    min-height: calc(100vh - 155px);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
        color: #343637;
        font-family: "Mulish-Bold";
        font-size: 3em;
        margin-bottom: 12px;
    }

    .country-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-bottom: 1px solid black;

        .country-item {
            height: 100%;
            color: #343637;
            font-family: "Mulish-Regular";
            font-size: 1em;
            text-wrap: nowrap;
            padding: 1%;
            cursor: pointer;

            &.true {
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }

            &:hover {
                box-shadow: inset 0 -3px 0px 0px black;
            }
        }
    }

    .state-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .state-item {
            color: #343637;
            font-family: "Mulish-Regular";
            font-size: 1em;
            text-wrap: nowrap;
            text-align: center;
            cursor: pointer;
            padding: 1%;

            &.true {
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }

            &:hover {
                box-shadow: inset 0 -3px 0px 0px black;
            }
        }

        // :nth-child(-n + 7) {
        //     width: calc(100% / 7);
        // }

        // :nth-child(n + 8) {
        //     width: calc(100% / 9);
        // }
    }

    .alphabet-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .alphabet-item {
            height: 100%;
            color: lightgray;
            font-family: "Mulish-Regular";
            font-size: 1em;
            text-wrap: nowrap;
            padding: 1%;
            pointer-events: none;

            &.true {
                color: #343637;
                cursor: pointer;
                pointer-events: all;
            }

            &:hover {
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }
        }
    }

    .map-wrapper {
        width: 100%;
        aspect-ratio: 21/9;
        // border: 1px solid red;
        padding: 2% 0;
    }

    .branch-wrapper {
        width: 100%;
        height: fit-content;
        gap: 2em;
        grid-auto-rows: 1fr;
        cursor: pointer;

        .branch-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .lbl {
                color: #343637;
                font-family: "Mulish-Regular";
                font-size: 1em;

                &.lbl-name {
                    color: brown;
                    font-family: "Mulish-Bold";
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }

                &.lbl-address {
                    display: flex;
                    padding: 5px 0 10px;
                    min-height: 80px;
                }

                &.lbl-contact {
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
