#find-wrapper {
    min-height: calc(100vh - 155px);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
        color: #343637;
        font-family: "Mulish-Bold";
        font-size: 3em;
        margin-bottom: 12px;
    }

    .country-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-bottom: 1px solid black;

        .country-item {
            height: 100%;
            color: #343637;
            font-family: "Mulish-Regular";
            font-size: 1em;
            text-wrap: nowrap;
            padding: 1%;
            cursor: pointer;

            &.true {
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }

            &:hover {
                box-shadow: inset 0 -3px 0px 0px black;
            }
        }
    }

    .state-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .state-item {
            color: #343637;
            font-family: "Mulish-Regular";
            font-size: 1em;
            text-wrap: nowrap;
            text-align: center;
            cursor: pointer;
            padding: 1%;

            &.true {
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }

            &:hover {
                box-shadow: inset 0 -3px 0px 0px black;
            }
        }

        // :nth-child(-n + 7) {
        //     width: calc(100% / 7);
        // }

        // :nth-child(n + 8) {
        //     width: calc(100% / 9);
        // }
    }

    .alphabet-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .alphabet-item {
            height: 100%;
            color: #bbb;
            font-family: "Mulish-Regular";
            font-size: 1em;
            text-wrap: nowrap;
            padding: 1%;
            pointer-events: none;

            &.click-true {
                color: #343637;
                cursor: pointer;
                pointer-events: all;
            }

            &.true {
                font-weight: bold;
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }

            &:hover {
                box-shadow: inset 0 -3px 0px 0px #432b20;
            }
        }
    }

    .map-wrapper {
        width: 100%;
        aspect-ratio: 21/9;
        // border: 1px solid red;
        padding: 2% 0;
    }

    .branch-wrapper {
        width: 100%;
        height: fit-content;
        gap: 2em;
        grid-auto-rows: 1fr;
        cursor: pointer;

        .branch-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .lbl {
                color: #343637;
                font-family: "Mulish-Regular";
                font-size: 1em;

                &.lbl-name {
                    color: #421908;
                    font-family: "Mulish-Bold";
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }

                &.lbl-address {
                    display: flex;
                    padding: 5px 0 10px;
                    min-height: 80px;
                }

                &.lbl-contact {
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    @media (orientation: portrait) {
        .country-wrapper {
            gap: 20px;

            .country-item {
                padding: 2%;
            }
        }

        .state-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 2% 0;

            .state-item {
                width: calc(100% / 4);
                padding: 2%;
                color: #bbb;

                &.true {
                    color: #343637;
                    font-weight: bold;
                    box-shadow: none;
                }
            }
        }

        .alphabet-wrapper {
            justify-content: flex-start;
            overflow-x: auto;
            padding: 0 2%;

            .alphabet-item {
                padding: 2%;

                &.true {
                    box-shadow: none;
                }

                &:hover {
                    font-weight: bold;
                    box-shadow: none;
                }
            }
        }

        .map-wrapper {
            aspect-ratio: 1/1;
            padding: 5% 0;
        }

        .branch-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .branch-item {
                width: 100%;

                .lbl {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }

        @media (max-width: 767px) {
            .country-wrapper {
                justify-content: flex-start;
                overflow-x: auto;
                gap: 10px;
                padding: 0 6%;

                .country-item {
                    padding: 3%;
                    font-size: 0.8em;
                }
            }

            .state-wrapper {
                padding: 5% 0;

                .state-item {
                    width: calc(100% / 3);
                    padding: 3%;
                }
            }

            .alphabet-wrapper {
                padding: 0 6%;

                .alphabet-item {
                    padding: 4%;
                    font-size: 0.9em;
                }
            }

            .map-wrapper {
                aspect-ratio: 1/1.5;
                padding: 10% 0;
            }

            .branch-wrapper {
                .branch-item {
                    .lbl {
                        font-size: 0.8em;

                        &.lbl-name {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}
