@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: "Mulish-Light";
    src: url("../app/fonts/Mulish/static/Mulish-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish-Regular";
    src: url("../app/fonts/Mulish/static/Mulish-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish-Bold";
    src: url("../app/fonts/Mulish/static/Mulish-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish-Black";
    src: url("../app/fonts/Mulish/static/Mulish-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../app/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../app/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--foreground);
    font-family: "Mulish-Regular", Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(5.27deg, #FFFBF4 0%, #F6EFE2 50.74%, #EFE6D3 100%);
    background-attachment: fixed;

}

::-webkit-bar {
    width: 5px;
    height: 5px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #555555;
    border: 2px solid #555555;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Mulish-Bold", Helvetica, sans-serif;
}


.send_now_btn:hover img,  .send_now_btn:hover svg{
    right: 20px;
    transition: all 0.3s ease;
}

.send_now_btn img, .send_now_btn svg{
    transition: all 0.3s ease;
}

.bg-chrome{
    background: linear-gradient(180deg, #D4D1CD 0%, #54504D 100%);
}

.bg-satin{
    background: linear-gradient(180deg, #9A8450 3.5%, #E5C591 44%, #64522A 100%);

}

.swiper-slide {
    height: auto !important;
  }