#home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    .header {
        // position: absolute;
        // top: -30%;
        // left: 0%;
        width: 100%;
        height: 15%;
        z-index: 3;
        animation: header-in 0.5s 0.5s ease-in-out forwards;

        @keyframes header-in {
            from {
                opacity: 0;
                top: -30%;
            }
            to {
                opacity: 1;
                top: 0%;
            }
        }
    }

    .container-1 {
        position: absolute;
        width: 100%;
        height: 100%;

        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            object-fit: cover;

            &.top {
                top: -50%;
            }

            &.bottom {
                bottom: -50%;
            }

            &.bottom-2 {
                visibility: hidden;
                opacity: 0.7;
                bottom: 0%;
            }
        }

        .img2 {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.left {
                left: -50%;
            }

            &.right {
                right: -50%;
            }
        }

        .first-label {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            height: 40%;
            text-align: center;
            opacity: 0;

            .brand {
                font-size: 4vw;
            }
            .product {
                font-size: 8vw;
                font-weight: 700;
                text-wrap: nowrap;
            }
        }
        .first-shadow {
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 70%;
            height: 50%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
        }
        .second-label {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            height: 40%;
            text-align: center;
            opacity: 0;

            .label-2 {
                font-size: 3vw;
                text-wrap: wrap;
            }

            button {
                width: 50%;
                padding: 2%;
                background-color: orange;
                border-radius: 12px;
            }
        }
        .second-shadow {
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
        }
    }

    .container-2 {
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dbd6ce;

        .left-container {
            width: fit-content;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-left: 10%;
            color: #525456;

            .horizontal-line {
                width: 100%;
                display: inline-block;
                border-bottom: 1px solid #525456;
                margin: 15px 0;
            }

            .endless {
                width: 100%;
                text-align: left;
                font-size: 35px;
                font-weight: 800;
                line-height: normal;
            }

            .from {
                width: 100%;
                text-align: left;
                font-size: 18px;
            }

            .bullet-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                .bullet {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5%;
                    font-size: 22px;
                }
            }

            .disclaimer {
                width: 100%;
                font-size: 10px;
            }
        }

        .right-container {
            width: 60%;
            height: 100%;
        }
    }

    .container-3 {
        position: absolute;
        top: 15%;
        left: 0%;
        width: 250%;
        height: 85%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #dbd6ce;
        color: #525456;

        .right-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-wrapper {
                width: 40%;
                height: 100%;

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .right-wrapper {
                width: 55%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .top-wrapper {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    .label {
                        font-size: 14px;
                    }
                    .title {
                        font-size: 30px;
                        font-weight: 550;
                    }
                    .desc {
                        font-size: 16px;
                    }
                }
                .bottom-wrapper {
                    width: 100%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    .item {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        .content {
                            width: 80%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: space-around;

                            .title {
                                font-weight: 550;
                            }
                            .desc {
                            }
                        }
                    }
                }
            }
        }

        .left-container {
            width: 200%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow-x: auto;
            background-color: #dbd6ce;
            color: #525456;
            padding: 1%;

            .top-wrapper {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .img-wrapper {
                    width: calc(100% / 6.1);
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .img {
                        width: 100%;
                    }
                }
            }

            .bottom-wrapper {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;

                .text {
                    // width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    &.text-1 {
                        font-size: 40px;
                        font-weight: 600;
                        align-items: flex-end;
                    }
                }

                .vertical-line {
                    display: inline-block;
                    border-left: 1px solid #000;
                    margin: 0 50px;
                    height: 100%;
                }
            }
        }
    }
}
