#home-wrapper {
    // width: 100vw;
    height: 100vh;
    overscroll-behavior: none;
    position: relative;

    .panel {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: #dbd6ce;

        &.first-load {
            position: relative;

            .first-label {
                width: 80vw;
                height: 50vh;
                position: absolute;
                bottom: -45%;
                left: 10%;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                font-weight: 700;
                line-height: normal;

                .brand {
                    width: 100%;
                    font-size: 6em;
                }
                .product {
                    width: 100%;
                    font-size: 15em;
                }
            }

            .second-label {
                width: 50vw;
                height: 40vh;
                position: absolute;
                bottom: -50%;
                left: 25%;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;

                .label {
                    font-size: 3em;
                }

                .explore-btn {
                    width: 35%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: orange;
                    padding: 1.5%;
                    border-radius: 12px;
                }
            }

            .shadow {
                width: 100vw;
                height: 40vh;
                position: absolute;
                top: -40%;
                left: 0%;
                opacity: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
                box-shadow: none;
            }

            .top-img {
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: -100%;
                left: 0;
                opacity: 0.2;
                // object-fit: cover;
            }
            .bottom-img {
                width: 100vw;
                height: 100vh;
                position: absolute;
                bottom: -100%;
                left: 0;
                opacity: 0.2;
                // object-fit: cover;
            }
            .bottom-img-2 {
                width: 100vw;
                height: 100vh;
                position: absolute;
                bottom: -100%;
                left: 0;
                opacity: 0;
                // object-fit: cover;
            }

            .left-img {
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: -100%;
                opacity: 0.2;
                // object-fit: cover;
            }
            .right-img {
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                right: -100%;
                opacity: 0.2;
                // object-fit: cover;
            }
        }

        .top {
            width: 90%;
            // background-color: red;
        }

        .middle {
            width: 90%;
            // background-color: purple;
        }

        .bottom {
            width: 90%;
            // background-color: orange;
        }

        &.v1 {
            .top {
                height: 25%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-size: 2.5em;
                    font-weight: 700;
                }

                .icon {
                    display: flex;
                    justify-content: cemter;
                    align-items: center;
                }
            }

            .bottom {
                height: 65%;
            }
        }

        &.v2 {
            .top {
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    font-size: 2em;
                    font-weight: 600;
                }
            }

            .bottom {
                height: 75%;
            }
        }

        &.v3 {
            .top {
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .middle {
                height: 60%;
            }
            .bottom {
                height: 15%;
            }
        }

        &.v4 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .item-wrapper {
                width: calc(100% / 3.1);
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .top {
                    height: 10%;
                }
                .middle {
                    height: 60%;
                }
                .bottom {
                    height: 40%;
                }
            }
        }

        &.v5 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .left {
                width: 30%;
                height: 90%;
                background-color: aqua;
            }
            .right {
                width: 60%;
                height: 90%;
                background-color: yellowgreen;
            }
        }

        &.v6 {
            height: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .item {
                width: calc(100% / 8);
                height: 90%;
                background-color: blue;
            }
        }
    }

    .horizontal-wrapper {
        overscroll-behavior: none;
        width: 600%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;

        .h1 {
            width: 100vw;
            height: 100%;
            background-image: url("../../public/home/tap-benefit.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .label {
                width: fit-content;
                height: 70%;
                position: absolute;
                left: 10%;
                top: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                text-align: start;
                color: #525456;

                .title {
                    font-size: 2.5em;
                    font-weight: 800;
                }

                .desc {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .horizontal-line {
                    display: inline-block;
                    border-bottom: 1px solid #000;
                    margin: 10px 0;
                    width: 100%;
                }

                .bullet-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    color: black;
                    font-size: 1.5em;
                }

                .disclaimer {
                    font-size: 0.6em;
                    font-weight: 500;
                }
            }
            .image {
                width: 60%;
                height: 60%;
                position: absolute;
                right: 0%;
                bottom: 0%;
                background-color: green;
            }
        }

        .h2 {
            width: 100vw;
            height: 100%;
            position: relative;

            .content-wrapper {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .list {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .list-img {
                        width: calc(100% / 5.5);
                    }

                    .list-desc-wrapper-1 {
                        width: calc(100% / 7);
                        color: black;

                        .first-title {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            color: #525456;
                            font-weight: 700;
                            font-size: 2em;
                        }
                    }

                    .list-desc-wrapper-2 {
                        width: calc(100% / 5.1);
                        color: black;

                        .list-title {
                            font-weight: bold;
                        }
                        .list-desc {
                            font-size: 0.9em;
                        }
                    }

                    .vertical-line {
                        display: inline-block;
                        border-left: 1px solid #000;
                        margin: 0 10px;
                        height: 100%;
                    }
                }
            }
        }

        .h3 {
            width: 100vw;
            height: 100%;
            position: relative;

            .image {
                width: 35%;
                height: 100%;
                position: absolute;
                left: 0%;
                top: 0%;
                object-fit: cover;
            }

            .label {
                width: 40%;
                height: 60%;
                position: absolute;
                right: 15%;
                top: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                text-align: start;
                color: black;

                .small {
                    color: #343637;
                    font-size: 1em;
                }
                .title {
                    color: #343637;
                    font-size: 2.5em;
                    font-weight: 700;
                }
                .desc {
                    font-size: 1.2em;
                }

                .bullet-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 5%;

                    .bullet-item {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5%;

                        .bullet-desc-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: flex-start;

                            .bullet-title {
                                font-size: 1.2em;
                                font-weight: bold;
                            }
                            .bullet-desc {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
