#main-wrapper {
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

#home-wrapper {
    // width: 100vw;
    height: 100%;
    overscroll-behavior: none;
    position: relative;

    .first-panel {
        width: 100vw;
        height: 85vh;
        background-color: #dbd6ce;
        // border: 1px solid red;
        position: absolute;
        z-index: 1;

        .first-label {
            width: 80vw;
            height: 50vh;
            position: absolute;
            bottom: -45%;
            left: 10%;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-weight: 700;
            line-height: normal;

            .brand {
                width: 100%;
                font-size: 6em;
            }
            .product {
                width: 100%;
                font-size: 15em;
            }
        }

        .second-label {
            width: 50vw;
            height: 40vh;
            position: absolute;
            bottom: -50%;
            left: 25%;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;

            .label {
                font-size: 3em;
            }

            .explore-btn {
                width: 35%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: orange;
                padding: 1.5%;
                border-radius: 12px;
            }
        }

        .shadow {
            width: 100vw;
            height: 40vh;
            position: absolute;
            top: -40%;
            left: 0%;
            opacity: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
            box-shadow: none;
        }

        .top-img {
            width: 100vw;
            height: 85vh;
            position: absolute;
            top: -100%;
            left: 0;
            opacity: 0.2;
            // object-fit: cover;
        }
        .bottom-img {
            width: 100vw;
            height: 85vh;
            position: absolute;
            bottom: -100%;
            left: 0;
            opacity: 0.2;
            // object-fit: cover;
        }
        .bottom-img-2 {
            width: 100vw;
            height: 85vh;
            position: absolute;
            bottom: -100%;
            left: 0;
            opacity: 0;
            // object-fit: cover;
        }

        .left-img {
            width: 100vw;
            height: 85vh;
            position: absolute;
            top: 0;
            left: -100%;
            opacity: 0.2;
            // object-fit: cover;
        }
        .right-img {
            width: 100vw;
            height: 85vh;
            position: absolute;
            top: 0;
            right: -100%;
            opacity: 0.2;
            // object-fit: cover;
        }
    }

    .panel {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #343637;

        .top {
            width: 90%;
        }

        .middle {
            width: 90%;
        }

        .bottom {
            width: 90%;
        }

        &.v1 {
            .top {
                height: 25%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-size: 2.5em;
                    font-weight: 700;
                }

                .icon-wrapper {
                    width: 5%;
                    max-width: 100px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }

            .bottom {
                width: 90%;
                height: 50%;
                overflow: auto;

                .review-wrapper {
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    gap: 12px;

                    .review-card {
                        width: 60vw;
                        height: 100%;
                        background-color: orange;
                    }
                }
            }
        }

        &.v2 {
            height: 80vh;

            .top {
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    font-size: 2em;
                    font-weight: 600;
                }
            }

            .bottom {
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;

                table {
                    width: 100%;
                    height: 70%;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;

                    tr {
                        border-bottom: 1px solid black;

                        td {
                            text-align: center;
                            vertical-align: middle;

                            svg {
                                display: inline-block;
                            }
                        }

                        td:nth-child(1) {
                            border-right: 1px solid black;
                        }
                    }
                }
            }
        }

        &.v3 {
            height: fit-content;

            .top {
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    font-size: 2em;
                    font-weight: 600;
                }
            }
            .middle {
                height: 60%;
                width: 100%;
            }
            .bottom {
                height: 15%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: white;
                padding: 2%;

                .title {
                    font-size: 2em;
                    font-weight: bold;
                }

                .brand-logo {
                    width: 65%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .logo {
                        width: calc(100% / 7.5);
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid red;
                    }
                }
            }
        }

        &.v4 {
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding: 96px 48px;

            .item-wrapper {
                width: calc(100% / 3.1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;

                .top {
                    height: 10%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .title {
                        font-size: 2em;
                        font-weight: 600;
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 12px;

                    .title {
                        font-size: 1.5em;
                    }
                    .desc {
                        font-size: 1.1em;
                    }
                    .read-more {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 12px;
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            }
        }

        &.v5 {
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding: 96px 48px;

            .left {
                width: 30%;
                height: 80%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .title {
                    font-size: 2em;
                    font-weight: 600;
                }
            }
            .right {
                width: 50%;
                height: 70%;
                .item-wrapper {
                    width: 90%;

                    .item-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .title {
                            font-size: 1em;
                            font-weight: bold;
                        }
                    }
                }

                .horizontal-line {
                    display: inline-block;
                    border-bottom: 1px solid #000;
                    margin: 24px 0;
                    width: 100%;
                }
            }
        }

        &.footer {
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding: 48px;
            border-top: 1px solid black;

            .footer-item {
                width: calc(100% / 8);
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;

                .title {
                    font-size: 1.2em;
                    font-weight: bold;
                }

                .item {
                    font-size: 0.9em;
                }
            }
        }
    }

    .horizontal-wrapper {
        overscroll-behavior: none;
        width: 600%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;

        .h1 {
            width: 100vw;
            height: 100%;
            background-image: url("../../public/home/tap-benefit.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .label {
                width: fit-content;
                height: 70%;
                position: absolute;
                left: 10%;
                top: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                text-align: start;
                color: #525456;

                .title {
                    font-size: 2.5em;
                    font-weight: 800;
                }

                .desc {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .horizontal-line {
                    display: inline-block;
                    border-bottom: 1px solid #000;
                    margin: 10px 0;
                    width: 100%;
                }

                .bullet-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    color: black;
                    font-size: 1.5em;
                }

                .disclaimer {
                    font-size: 0.6em;
                    font-weight: 500;
                }
            }

            .filter-wrapper {
                width: 20%;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 50%;
                background-color: #292929;
                position: absolute;
                right: 25%;
                bottom: 15%;
                overflow: hidden;
                opacity: 0;

                .image {
                    width: 60%;
                    position: absolute;
                    top: 25%;
                }
            }
        }

        .h2 {
            width: 150vw;
            height: 100%;
            position: relative;
            padding: 48px;

            .content-wrapper {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .list {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .list-img {
                        width: calc(100% / 5.5);
                    }

                    .list-desc-wrapper-1 {
                        width: calc(100% / 7);
                        color: black;

                        .first-title {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            color: #525456;
                            font-weight: 700;
                            font-size: 2em;
                        }
                    }

                    .list-desc-wrapper-2 {
                        width: calc(100% / 5.1);
                        color: black;

                        .list-title {
                            font-weight: bold;
                        }
                        .list-desc {
                            font-size: 0.9em;
                        }
                    }

                    .vertical-line {
                        display: inline-block;
                        border-left: 1px solid #000;
                        margin: 0 10px;
                        height: 100%;
                    }
                }
            }
        }

        .h3 {
            width: 100vw;
            height: 100%;
            position: relative;

            .image {
                width: 35%;
                height: 100%;
                position: absolute;
                left: 0%;
                top: 0%;
                object-fit: cover;
            }

            .label {
                width: 40%;
                height: 60%;
                position: absolute;
                right: 15%;
                top: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                text-align: start;
                color: black;

                .small {
                    color: #343637;
                    font-size: 1em;
                }
                .title {
                    color: #343637;
                    font-size: 2.5em;
                    font-weight: 700;
                }
                .desc {
                    font-size: 1.2em;
                }

                .bullet-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 5%;

                    .bullet-item {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5%;

                        .bullet-desc-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: flex-start;

                            .bullet-title {
                                font-size: 1.2em;
                                font-weight: bold;
                            }
                            .bullet-desc {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
