#header-container {
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;

    .top-header {
        width: 100%;
        height: calc(100% / 4);
        background-color: orange;
    }
    .middle-header {
        width: 100%;
        height: calc(100% / 4);
    }
    .bottom-header {
        width: 100%;
        height: calc(100% / 2);
    }
}
