html{
    scroll-behavior: smooth;
}
#header-container {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: white;
    color: black;
    font-size: 0.7em;

    .top-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F79932;
        color: #463E3D;

        .top-wrapper {
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;

            .vertical-line {
                display: inline-block;
                border-left: 1px solid #000;
                margin: 0 10px;
                height: 100%;
            }
        }
    }
    .middle-header {
        width: 100%;
        height: calc(100% / 4);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        .middle-wrapper {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;

            .icon-wrapper {
                width: 15%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
    .bottom-header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .bottom-wrapper {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;
        }
    }

    @media (orientation: landscape) {
        @media (min-width: 1024px) {
            height: 15vh;
            font-size: 0.8em;

            .middle-header {
                .middle-wrapper {
                    width: 60%;
                }
            }
            .bottom-header {
                .bottom-wrapper {
                    width: 60%;
                }
            }
        }
        @media (min-width: 1366px) {
            font-size: 1em;
        }
        @media (min-width: 1500px) {
            .middle-header {
                .middle-wrapper {
                    width: 50%;
                }
            }
            .bottom-header {
                .bottom-wrapper {
                    width: 50%;
                }
            }
        }
    }
    @media (orientation: portrait) {
        height: 15vh;
        font-size: 0.6em;

        .top-header {
            .top-wrapper {
                width: 100%;
            }
        }
        .middle-header {
            .middle-wrapper {
                width: 100%;
            }
        }
        .bottom-header {
            .bottom-wrapper {
                width: 100%;
            }
        }

        @media (min-width: 768px) {
            font-size: 0.8em;
        }

        @media (min-width: 1024px) {
            font-size: 1em;
        }
    }
}
