#header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;

    .header-1 {
        width: 100%;
        height: calc(100% / 4);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
        padding: 5px;
        color: #463e3d;
        font-weight: 600;

        .header-1-wrapper {
            width: calc(100% * 0.5);
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .vertical-line {
            display: inline-block;
            border-left: 1px solid #000;
            margin: 0 10px;
            height: 100%;
        }
    }

    .header-2 {
        width: 100%;
        height: calc(100% / 4);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px;

        .header-2-wrapper {
            width: calc(100% * 0.55);
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .icon-wrapper {
                width: calc(100% * 0.12);
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    .header-3 {
        width: 100%;
        height: calc(100% / 2);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;

        .header-3-wrapper {
            width: calc(100% * 0.5);
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .logo {
                height: 100%;
                aspect-ratio: 3/1;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    object-fit: contain;
                }
            }
        }
    }
}
