#header-container {
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    color: black;

    .top-header {
        width: 100%;
        height: calc(100% / 4);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
        color: #463e3d;

        .top-wrapper {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;

            .vertical-line {
                display: inline-block;
                border-left: 1px solid #000;
                margin: 0 10px;
                height: 100%;
            }
        }
    }
    .middle-header {
        width: 100%;
        height: calc(100% / 4);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        .middle-wrapper {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;

            .icon-wrapper {
                width: 15%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
    .bottom-header {
        width: 100%;
        height: calc(100% / 2);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .bottom-wrapper {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;
        }
    }
}
