body{
    height: 100vh;
    overflow: hidden;
}
#discover-wrapper {
    height: calc(100vh - 155px);
    width: 100%;
    overflow: hidden;
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper{
        overflow: hidden !important;
        height: calc(100vh - 155px) !important;
    }
    .swiper-slide {
        background: black;
        height: calc(100vh - 155px) !important;
        overflow-y: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        
    }
    
}

.mySwiper2 .swiper-wrapper{
    overflow-y: auto !important;
    height: auto !important;
}

#discover-wrapper .swiper-slide.last_slide{
    // height: fit-content !important;
}

@media (max-height:800px) {
    #discover-wrapper {
        height: calc(100vh - 50px);
        .swiper-wrapper{
            height: calc(100vh - 50px) !important;
        }
        .swiper-slide.first {
            height: calc(100vh - 50px) !important;
        }
        .swiper-slide {
            height: 100vh !important;
        }
    }
    
}