#discover-wrapper {
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    background-color: black;

    .content {
        width: 100%;
        text-align: justify;
    }
    .video-container {
        width: 100%;
        height: 100%;
        text-align: center;

        .video-scrub {
            width: 100%;
            height: 100%;
        }
    }
}
