#discover-wrapper {
    height: calc(100vh - 155px);
    width: 100%;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        background: black;
        height: calc(100vh - 155px) !important;
        overflow-y: auto;
    }
}
