#discover-wrapper {
    width: 100vw;
    height: calc(100vh - 155px);
    position: absolute;
    bottom: 0;
    left: 0;
}

#discover-container {
    width: 100%;
    height: 100%;
    position: relative;

    .video-container {
        width: 100%;
        height: 100%;
        text-align: center;

        .video-scrub {
            width: 100%;
            height: 100%;
        }
    }
}
