html{
    scroll-behavior: smooth;
}
#container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 85vh;

    .product-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        .sketchfab-embed-wrapper {
            width: 100%;
            height: 100%;

            // iframe {
            //     width: 100%;
            //     height: 100%;
            // }
        }
    }

    .product-desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        gap: 10px;
        top: 10%;
        right: 0;
        transform: translate(-50%, 0%);
        width: 20%;
        background-color: bisque;
        color: black;
        padding: 24px;
        border-radius: 24px;
        font-family: sans-serif;

        .product-name {
            font-size: 15px;
        }
        .product-label {
            font-size: 45px;
            font-weight: 600;
        }
        .product-description {
            font-size: 14px;
            color: gray;
        }
        .label {
            font-size: 14px;
        }
        .amount {
            &.big {
                font-size: 28px;
            }
            &.small {
                font-size: 20px;
            }
        }
    }
}

.list-img{
    height: calc(100%);
              border-radius: 20px;
              max-height: 250px;
              object-fit: cover;
              object-position: bottom;
}