#splash-wrapper {
    width: 100vw;
    height: 100vh;
    // z-index: 1;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    overflow:hidden
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above all other content */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-top: 5px solid #F79932; /* Orange border for the spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width:768px) {
  #splash-wrapper {
    width: 100%;
    height: 100vh;
    // z-index: 1;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    overflow:hidden
}

}