#cart-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(5.27deg, #FFFBF4 -1.33%, #F6EFE2 50.74%, #EFE6D3 92.48%);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    overflow: auto;

    .billing-container,
    .complete-container {
        width: 80%;
    }
}

.payment-plan-select,
.colour-select,
.model-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

body.no-scroll {
    overflow: hidden; /* Prevent body scrolling when the wrapper is visible */
}

.cart_title {
    margin-top: 500px;
}

.cart_container {
    max-width: 1300px;
    height: 100%;
}

// @media (max-height: 1100px) {
//     .cart_title {
//         margin-top: 1000px;
//     }
// }

// @media (max-height: 900px) {
//     .cart_title {
//         margin-top: 1000px;
//     }
// }

@media (max-height: 800px) and (min-width: 1300px) {
    #cart-wrapper {
        overflow-y: scroll;
    }
    .cart_title {
        margin-top: 450px;
    }
    .caret_checkout {
        top: 2.5em;
    }
    .order-img img {
        max-width: 200px;
    }
}

@media (max-height: 710px) and (min-width: 1280px) {
    .cart_title {
        margin-top: 400px;
    }
    #cart-wrapper .left {
        width: 30%;
        margin-top: 50px;
    }
    #cart-wrapper .right {
        width: 60%;
        margin-top: 400px;
        height: auto;
    }
    #cart-wrapper .left .form-wrapper .label {
        font-size: 1.75em;
    }
    #cart-wrapper .right .form-wrapper .label {
        font-size: 2em;
    }
    #cart-wrapper .left .order-form div input,
    #cart-wrapper .left .order-form div select {
        font-size: 1.1em;
    }
    .caret_checkout {
        top: 2em;
    }
    .order-img img {
        max-width: 200px;
    }
}

@media (max-width: 768px){
    .cart_title {
        margin-top: 400px;
    }
}