#checkout-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(5.27deg, #FFFBF4 -1.33%, #F6EFE2 50.74%, #EFE6D3 92.48%);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 16;
    overflow: auto;

    .left {
        width: 30%;
        height: 100%;
        padding: 15vh 2.5% 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .label {
            width: 100%;
            font-size: 1.875em;
            padding: 20px 0;
            color: #343637
        }

        .order-img {
            height: 100%;
            width: 100%;
            max-height: 350px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .order-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                label,
                input,
                select {
                    width: 100%;
                    background-color: transparent;
                    color: #343637;

                    option {
                        background-color: #fff;
                    }
                }

                label {
                    font-size: 0.7em;
                    margin-top: 15px;
                }

                input,
                select {
                    border-bottom: 1px solid #343637;
                    font-size: 1.75em;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .right {
        width: 50%;
        height: 100%;
        padding: 15vh 2.5% 0;
        border-left: 1px solid #343637;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        .payment-form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;

            .accordian-wrapper {
                width: 100%;

                .accordian-item {
                    width: 100%;
                    border-bottom: 1px solid #dddfe0;

                    .accordian-title {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                    }

                    .accordian-content {
                        width: 100%;
                        max-height: 0;
                        overflow: hidden;
                        transition: all 1s ease-in-out;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        &.true {
                            // min-height: 350px;
                            max-height: 500px;
                            transition: all 1s ease-in-out;
                        }

                        .card {
                            width: 100%;
                            height: 50px;
                            background-color: #dddfe0;
                            border-radius: 5px;
                            margin-bottom: 10px;
                        }

                        .horizontal-line {
                            display: inline-block;
                            border-bottom: 1px solid #6c7275;
                            margin: 10px 0;
                            width: 100%;
                        }

                        .input-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;

                            .label {
                                color: #6c7275;
                                font-size: 0.8em;
                                font-weight: bold;
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }

            .accordion-item:target .accordion-title .ion-md-arrow-forward {
                display: none;
            }

            .accordion-item:target .accordion-title .ion-md-arrow-down {
                display: block;
            }
        }
    }
}

.payment-plan-select,
.colour-select,
.model-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.caret_checkout {
    right: 0;
    top: 2.25em;
}

body.no-scroll {
    overflow: hidden; /* Prevent body scrolling when the wrapper is visible */
}

@media (max-height: 800px) and (min-width: 1300px) {
    #checkout-wrapper {
        overflow-y: scroll;
    }
    #checkout-wrapper .left .order-img {
        min-height: 300px;
    }
    #checkout-wrapper .left {
        width: 30%;
        margin-top: 50px;
    }
    #checkout-wrapper .right {
        width: 60%;
        margin-top: 300px;
        height: auto;
    }
    #checkout-wrapper .left .order-form div input,
    #checkout-wrapper .left .order-form div select {
        font-size: 1.25em;
    }
    .caret_checkout {
        top: 1.75em;
    }
    .order-img img {
        max-width: 200px;
    }
}

@media (max-height: 700px) and (min-width: 1280px) {
    #checkout-wrapper .left .order-img {
        min-height: 250px;
    }
    #checkout-wrapper .left {
        width: 30%;
        margin-top: 50px;
    }
    #checkout-wrapper .right {
        width: 60%;
        margin-top: 350px;
        height: auto;
    }
    #checkout-wrapper .left .form-wrapper .label {
        font-size: 1.75em;
    }
    #checkout-wrapper .right .form-wrapper .label {
        font-size: 2em;
    }
    #checkout-wrapper .left .order-form div input,
    #checkout-wrapper .left .order-form div select {
        font-size: 1.1em;
    }
    .caret_checkout {
        top: 1.75em;
    }
    .order-img img {
        max-width: 200px;
    }
}

@media (max-width: 1700px){
    #checkout-wrapper .left{
        width: 35%;
        padding-left: 0;
    }
}

@media (max-width: 1600px){
    #checkout-wrapper .left{
        width: 40%;
        padding-left: 2.5%;
    }
}


@media (max-width: 1024px){
    #checkout-wrapper{
        flex-direction: column;
        justify-content: start;
    }
    #checkout-wrapper .right{
        width: 100%;
        border-left: 0;
        border-top: 1px solid #343637;
        padding: 0 1.5rem;
    }
    #checkout-wrapper .left{
        padding: 150px 1.5rem 50px;
        width: 100%;
        height: auto;
    }
    #checkout-wrapper .left .order-img{
        min-height: 300px;
    }
    #checkout-wrapper .left .order-img img{
        height: 400px;
    }
}

@media (max-width: 768px){
    #checkout-wrapper .left{
        padding: 50px 1.5rem 50px;
        width: 100%;
        height: auto;
    }
    .caret_checkout{
        top: 2em
    }
}

@media (max-width: 575px){
    #checkout-wrapper .left{
        padding: 50px 1.25rem 50px;
    }
    #checkout-wrapper .right{
        padding: 0 1.25rem;
    }
    #checkout-wrapper .left .order-form div input, #checkout-wrapper .left .order-form div select{
        font-size: 1.2em
    }
    #checkout-wrapper .left .label{
        font-size: 1.5rem;
    }
    .caret_checkout{
        top: 1.75em
    }
}