#checkout-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    overflow: auto;

    .left {
        width: 30%;
        height: 100%;
        padding: 15vh 2.5% 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .label {
            width: 100%;
            font-size: 1.875em;
            padding: 20px 0;
        }

        .order-img {
            height: 100%;
            width: 100%;
            max-height: 350px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .order-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                label,
                input,
                select {
                    width: 100%;
                    background-color: transparent;
                    color: white;

                    option {
                        background-color: black;
                    }
                }

                label {
                    font-size: 0.7em;
                    margin-top: 15px;
                }

                input,
                select {
                    border-bottom: 1px solid white;
                    font-size: 1.75em;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .right {
        width: 50%;
        height: 100%;
        padding: 15vh 2.5% 0;
        border-left: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        .form-wrapper {
            width: 100%;

            .label {
                width: 100%;
                font-size: 2.5em;
                padding: 20px 0;
            }

            .billing-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;

                .form-row {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    input:nth-child(1) {
                        width: 40%;
                    }

                    input:nth-child(2) {
                        width: 60%;
                    }
                }

                .discount-row {
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        width: 75%;
                    }

                    button {
                        width: 25%;
                        border-radius: 0;
                    }
                }

                input, textarea {
                    width: 100%;
                    background-color: #646669;
                    color: white;
                    padding: 10px;

                    &:active,
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: white;
                    }

                    &:last-child {
                        width: 50%;
                    }
                }
            }
        }

        button {
            width: 30%;
            background-color: #f79932;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.payment-plan-select, .colour-select, .model-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

.caret_checkout{
    right: 0;
    top: 2.75em
}

  body.no-scroll {
    overflow: hidden; /* Prevent body scrolling when the wrapper is visible */
}

  @media (max-height: 800px) and (min-width: 1300px) {
    #checkout-wrapper{
        overflow-y: scroll;
    }
    #checkout-wrapper .left .order-img{
        min-height: 300px;
    }
    #checkout-wrapper .left{
        width: 30%;
        margin-top: 50px;
    }
    #checkout-wrapper .right{
        width: 60%;
        margin-top: 300px;
        height: auto;
    }
    #checkout-wrapper .left .order-form div input, #checkout-wrapper .left .order-form div select{
        font-size: 1.25em;
    }
    .caret_checkout{
        top: 2.5em
    }
    .order-img img{
        max-width: 200px;
    }
  }

@media (max-height: 700px) and (min-width: 1280px) {
   
    #checkout-wrapper .left .order-img{
        min-height: 250px;
    }
    #checkout-wrapper .left{
        width: 30%;
        margin-top: 50px;
    }
    #checkout-wrapper .right{
        width: 60%;
        margin-top: 350px;
        height: auto;
    }
    #checkout-wrapper .left .form-wrapper .label{
        font-size: 1.75em;
    }
    #checkout-wrapper .right .form-wrapper .label{
        font-size: 2em;
    }
    #checkout-wrapper .left .order-form div input, #checkout-wrapper .left .order-form div select{
        font-size: 1.1em;
    }
    .caret_checkout{
        top: 2em
    }
    .order-img img{
        max-width: 200px;
    }
  }

