#checkout-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 2.5% 0;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;

    .left {
        width: 30%;
        height: 100%;
        padding: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .label {
            width: 100%;
            font-size: 1.2em;
            padding: 10px 0;
        }

        .order-img {
            height: 100%;
            width: 100%;
            max-height: 250px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .order-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 5px 0;

                label,
                input,
                select {
                    width: 100%;
                    background-color: transparent;
                    color: white;

                    option {
                        background-color: black;
                    }
                }

                label {
                    font-size: 0.7em;
                }

                input,
                select {
                    border-bottom: 1px solid white;
                    padding: 5px 0;
                    font-size: 1em;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .right {
        width: 50%;
        height: 100%;
        padding: 2.5%;
        border-left: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .form-wrapper {
            width: 100%;

            .label {
                width: 100%;
                font-size: 1.5em;
                padding: 2% 0;
            }

            .billing-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;

                .form-row {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    input:nth-child(1) {
                        width: 40%;
                    }

                    input:nth-child(2) {
                        width: 60%;
                    }
                }

                .discount-row {
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        width: 75%;
                    }

                    button {
                        width: 25%;
                        border-radius: 0;
                    }
                }

                input {
                    width: 100%;
                    background-color: #646669;
                    color: white;
                    padding: 1%;

                    &:active,
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: white;
                    }

                    &:last-child {
                        width: 50%;
                    }
                }
            }
        }

        button {
            width: 30%;
            background-color: #f79932;
            padding: 1%;
            border-radius: 10px;
        }
    }
}
